.register__form{
  max-width: 400px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
  padding: 70px 30px;  
  margin-top: 45px;
}

/*falta estilar los elementos dentro del formulario */

.register__form input{
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  padding: 0 10px;
}

/*por ultimo estilar el boton de color azul*/

.register__form button{
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #0a1929;
  color: white;
}
