.container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: calc(100vw - 250px);
    height: 100%;
    padding: 1rem;
}

/* .stats-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    width: 100%;
    height: 80%;
} */

.container h1{
    text-align: center;
}

.stats-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.stats-container .row-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-container .column-container{
    width: 45%;
    height: 90%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.column-container{
    height: 700px;
}

.column-container form{
    gap: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

.column-container form button{
    position: absolute;
    right: 0;
    margin: 0;
    width: 90px;
    border-radius: 5px;
    align-self: flex-end;
}

.column-container form input, .column-container form select{
    padding: 2px 3px;
    width: 125px;
    border-radius: 5px;
    border: solid 1px #000;
}

.column-container form label{
    font-weight: bold;
    font-size: 14px;
}

.column-content{
    font-size: 14px;
    padding: 1rem;
    width: 100%;
    height: 150px;
    box-shadow: 0 1px 8px #0003;
    background-color: #fff;
    border-radius: 15px;
}

