.card-container{
    background-color: #0a1929;
    height: 200px;
    border-radius: 20px;
    margin: 20px auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 10px 10px 20px -7px rgba(0,0,0,1);
}

.card-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-heading .icon,
.card-heading h2{
    color: white;
}

.card-heading h2{
    font-size: 2rem;
}

.card-heading .icon{
    width: 40px;
    height: 40px;
}

.subheading{
    color: white;
    font-size: 14px;
}

.card-footer{
    background-color: #fff;
    height: 25%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.card-content{
    padding: 15px;

}

.card-footer .link{
    text-decoration: none;
    font-weight: 600;
    color: #0a1929;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

