.sidebar__menu{
  height: 100vh;
}



.logout{
  font-size: 16px;
  color: #fff;
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: space-between;
  /* width: 80%; */
  margin-bottom: 2rem;
  gap: 1rem;
  background-color: transparent;
  border: none;
  align-items: center;
  cursor: pointer;
}